@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap");
body {
    /* background: url('./Images/ug.png'); */
    background: #fefefe;
}

header {
    background-color: white;
    color: white;
    height: 18%;
    width: 100%;
    font-weight: 100;
    position: relative;
    z-index: 1;
}

.header-logo {
    font-size: 10px;
    float: left;
    padding-left: 30px;
    padding-top: 0px;
}

.header-logo>img {
    width: 20%;
}

li a {
    text-decoration: none;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 20px;
    font-family: "Fredoka One", cursive;
    letter-spacing: 2px;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 10px;
    transition: all ease 0.5s;
    border-radius: 40px;
    margin-bottom: 100px;
    /* padding-bottom: 300px; */
}

li {
    float: right;
    padding-left: 30px;
    padding-top: 30px;
    list-style: none;
    padding-right: 40px;
    font-size: 24px;
}

header ul li a:hover {
    background-color: rgba(220, 20, 60);
    color: white;
    transition: all ease 0.5s;
    border-radius: 30px;
    padding: 15px;
    letter-spacing: 2px;
    text-decoration: none;
}


/* footer */

footer {
    background-color: #1c1c1c;
    color: #ffffff;
    padding: 60px 0;
    font-size: 16px;
    position: relative;
    top: -20px;
}

.siteFooterBar {
    border-top: 1px solid #333;
    padding-top: 20px;
    margin-bottom: -50px;
    bottom: 0px;
}

.content1 {
    display: flex;
    justify-content: center;
}

.foot {
    margin: 0;
    font-size: 14px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content h3 {
    font-size: 34px;
    font-weight: bold;
    /* margin-bottom: 20px; */
    color: #ffffff;
    font-family: 'Patrick Hand SC';
}

.footer-content p {
    margin: 0;
    line-height: 1.6;
    color: #ffffff;
    font-family: 'Patrick Hand SC';
}

.socials {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.socials .sci li {
    margin-right: 20px;
}

.socials .sci li:last-child {
    margin-right: 0;
}

.socials .sci a {
    display: inline-flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #ffffff;
    background-color: #333;
    transition: background-color 0.3s ease-in-out;
}

.sci a:hover {
    background-color: transparent;
    text-decoration: none;
}

.sci a:hover .fab.fa-facebook {
    color: #3b5998;
}

.sci a:hover .fab.fa-instagram {
    color: #e1306c;
}

.sci a:hover .fas.fa-globe {
    color: #ffffff;
}

.socials .fab,
.socials .fas {
    font-size: 24px;
}


/* footer ends */

* {
    margin: 0;
    top: 0;
    padding: 0;
    box-sizing: border-box;
}

#one {
    padding-bottom: 200px;
}

#two {
    padding-bottom: 200px;
}

#three {
    padding-bottom: 200px;
}

#four {
    /* padding-top: 100px; */
    padding-bottom: 200px;
}

#five {
    padding-bottom: 200px;
    padding-top: 100px
}

#six {
    padding-top: 100px;
    padding-bottom: 400px;
}

#seven {
    padding-bottom: 300px;
}

#eight {
    padding-bottom: 200px;
}

.well ul li p {
    font-family: 'Patrick Hand SC';
    font-size: 30px;
    text-align: left;
    clear: left;
    margin: 0px 0 10px -10px;
}

.content h1 {
    font-family: 'Patrick Hand SC';
    color: rgb(163, 16, 16);
    text-transform: uppercase;
    letter-spacing: 5px;
}

.well {
    background-color: rgba(74, 67, 67, 0.40);
    border: 1px solid #E3E3E3;
    border-radius: 18px;
    min-height: 500px;
    padding: 30px;
    margin-bottom: 20px;
    /* z-index: -1; */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}