<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="help.css" />
    <link rel="icon" href="./Images/bbm2.png" type="image/png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<title>Connect with us</title>

<body>
    <header>
        <nav>
            <div class="header-logo"><img src="./Images/bbm2.png" /></div>
            <div class="header-list">
                <ul>
                    <li><a href="donate.html" target="_blank">Donate</a></li>
                    <li><a class="scroll" href="#table">Compatibility</a></li>
                    <li><a href="availability.html" target="_blank">Availability</a></li>
                    <li><a href="help.html" target="_blank">Get Help</a></li>
                    <li><a href="about.html" target="_blank">About</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <div class="contact-box" style="border-radius: 30px">
                <div class="left"></div>
                <div class="right">
                    <h2 style="font-size: xx-large">Connect With Us</h2>
                    <input type="text" class="field" placeholder="Your Name" style="font-family: Patrick Hand SC; border-radius: 30px" />
                    <input type="text" class="field" placeholder="Your Email" style="font-family: Patrick Hand SC; border-radius: 30px" />
                    <input type="text" class="field" placeholder="Phone" style="font-family: Patrick Hand SC; border-radius: 30px" />
                    <textarea placeholder="Message" class="field" style="font-family: Patrick Hand SC; border-radius: 30px"></textarea>
                    <button class="btn" style="font-family: Patrick Hand SC; border-radius: 30px">
              Send
            </button>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="siteFooterBar">
            <div class="content1">
                <div class="foot">2023 © All rights reserved.</div>
            </div>
        </div>
        <div class="footer-content">
            <h3>JOIN OUR CAUSE</h3>
            <p>
                Donating blood or platelets can be intimidating and even scary. Time to put those hesitations and fears aside. Learn from Blood Buddy and platelet donors how simple and easy it is to roll up a sleeve and help save lives.
            </p>
            <div class="socials">
                <ul class="sci">
                    <li>
                        <a href="https://www.facebook.com/givebloodnhs/" target="_blank"><i class="fab fa-facebook"></i
              ></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/indiablooddonation/?hl=en" target="_blank"><i class="fab fa-instagram"></i
              ></a>
                    </li>
                    <li>
                        <a href="http://nbtc.naco.gov.in/" target="_blank"><i class="fas fa-globe"></i
              ></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>