<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./Images/bbm2.png" type="image/png" />
    <link rel="stylesheet" href="../static/index.css" />
    <link rel="stylesheet" href="https://fontawesome.com/v4.7.0/icon/bars" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Blood App</title>
</head>
<title>Blood Bank Management</title>
<div class="preloader">
    <img src="./Images/preloader.gif" alt="spinner">
</div>

<body>
    <!-- uncomment if you want a scroll-up button -->
    <!--Scroll to top button-->
    <!-- <button onclick="topFunction()" id="myBtn" class="fas fa-arrow-up"></button> -->
    <!-- Home Page -->
    <header>
        <video autoplay muted loop playsinline id="homevideo">
            <source src="./video/homevideo2.mp4" type="video/mp4">
        </video>

        <div id="logo">
            <a href="index.html"><img src="./Images/bbm2.png"  alt="no"/></a>
        </div>
        <div id="nav">
            <div class="header-list" id="headerl">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="donate.html" target="_blank">Donate</a></li>
                    <li><a class="scroll" href="#table">Compatibility</a></li>
                    <li><a href="availability.html" target="_blank">Availability</a></li>
                    <li><a href="help.html" target="_blank">Get Help</a></li>
                    <li><a href="about.html" target="_blank">About</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </div>
        <div class="text-box">
            <h1>Start Saving Lives</h1>
            <p>Become a donor or request for blood And help save lives of people</p>
            <a href="Register.html"  class="hero-btn" target="_blank">Register</a>
        </div>
    </header>

    <!--ABOUT US -->

    <div class="carousel">
        <h2 style="font-family: 'Patrick Hand SC'; text-indent: 35%; font-size: 50px;">Blood Bank Management- Gallery </h2>
        <div id="myCarousel" class="carousel slide d-md-block" data-ride="carousel" style="border: solid black">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="./Images/car3.gif" alt="Los Angeles" style="width: 100%; height: 600px" />
                </div>

                <div class="item">
                    <img src="./Images/savelife.jpg" alt="Chicago" style="width: 100%; height: 600px" />
                </div>

                <div class="item">
                    <img src="car4.png" alt="New york" style="width:100%; height: 600px;">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <main>
        <section id="about-us">
            <div class="about">
                <h1 class="heading">Here you can add the images and a small description</h1>
                <br />
                <p class="head-des">
                    Example Text!
                    <span class="one-line"><br /></span>Example 2!
                </p>
                <div class="row">
                    <div class="about-col">
                        <div class="image">
                            <img src="./Images/drop.png"  alt="no"/>
                        </div>
                        <h3>What we do ?</h3>
                        <p>
                            We connect blood donors with recipients, without any intermediary such as blood banks, for an efficient and seamless process.
                        </p>
                    </div>
                    <div class="about-col">
                        <div class="image">
                            <img src="./Images/innovation.png"  alt="no"/>
                        </div>
                        <br />
                        <h3>Innovative</h3>
                        <p>
                            Blood Buddy is an innovative approach to address global health.We provide <span>immediate access</span> to blood donors.
                        </p>
                    </div>
                    <div class="about-col">
                        <div class="image">
                            <img src="./Images/netwotk.png" alt="no" width="120" height="120"/>
                        </div>
                        <h3>Network</h3>
                        <p>
                            Blood Buddy is one of several community organizations working together as a network that responds to emergencies in an efficient manner.
                        </p>
                    </div>
                    <div class="about-col">
                        <div class="image">
                            <img src="./Images/noti.png"  alt="no"/>
                        </div>
                        <h3>Get notified</h3>
                        <p>
                            Blood Buddy Connect works with network partners to connect blood donors and recipients through an automated SMS service and a mobile app.
                        </p>
                    </div>
                    <div class="about-col">
                        <div class="image">
                            <img src="./Images/cost.png"  alt="no"/>
                        </div>
                        <h3>Totally Free</h3>
                        <p>
                            Blood Budyy's ultimate goal is to provide an easy -to-use, easy-to-access, fast, efficient, and reliable way to get life-saving blood, totally <span>Free of cost.</span>
                        </p>
                    </div>
                    <div class="about-col">
                        <div class="image">
                            <img src="./Images/save.png"  alt="no"/>
                        </div>
                        <h3>Save Life</h3>
                        <p>
                            We are a non-profit foundation and our main objective is to make sure that everything is done to protect vulnerable persons.<span>Help us by making a gift!</span
                >
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>



                        <!-- table -->

                        <div  id="table" class='col-sm-6' style=" font-family: 'Patrick Hand SC'; font-size: 2.8rem;">
                            <table class="table table-responsive  ">
                                <tbody>
                                    <tr>
                                        <th colspan="3" style='color:white; border-radius: 25px; background-color:red;'>Compatible Blood Type Donors</th>
                                    </tr>
                                    <tr>
                                        <td><b>Blood Type</b></td>
                                        <td><b>Donate Blood To</b></td>
                                        <td><b>Receive Blood From</b></td>
                                    </tr>
                                    <tr>
                                        <td><span style="color: #961e1b;"><b>A+</b></span></td>
                            <td>A+ AB+</td>
                            <td>A+ A- O+ O-</td>
                            </tr>
                            <tr>
                                <td><span style="color: #961e1b;"><b>O+</b></span></td>
                                <td>O+ A+ B+ AB+</td>
                                <td>O+ O-</td>
                            </tr>
                            <tr>
                                <td><span style="color: #961e1b;"><b>B+</b></span></td>
                                <td>B+ AB+</td>
                                <td>B+ B- O+ O-</td>
                            </tr>
                            <tr>
                                <td><span style="color: #961e1b;"><b>AB+</b></span></td>
                                <td>AB+</td>
                                <td>Everyone</td>
                            </tr>
                            <tr>
                                <td><span style="color: #961e1b;"><b>A-</b></span></td>
                                <td>A+ A- AB+ AB-</td>
                                <td>A- O-</td>
                            </tr>
                            <tr>
                                <td><span style="color: #961e1b;"><b>O-</b></span></td>
                                <td>Everyone</td>
                                <td>O-</td>
                            </tr>
                            <tr>
                                <td><span style="color: #961e1b;"><b>B-</b></span></td>
                                <td>B+ B- AB+ AB-</td>
                                <td>B- O-</td>
                            </tr>
                            <tr>
                                <td><span style="color: #961e1b;"><b>AB-</b></span></td>
                                <td>AB+ AB-</td>
                                <td>AB- A- B- O-</td>
                            </tr>
                            </tbody>
                            </table>
                    </div>




                    <!--REVIEW-->
                    <section class="customer-review">
                        <div class="row-customer">
                            <h2>Testimonials<br />See what our users have to say</h2>
                        </div>
                        <div class="row-customer">
                            <div class="col-customer span-1-of-3-customer customer-box">
                                <div class="customer-text-box">
                                    Blood Buddy is just awesome! I just donated for the first time, and it could not have been easier.Blood Buddy is doing a very important work, and I'm happy that I could contribute . It's hygienic,safe and convenient, I recommend it to everyone!
                                </div>
                                <div class="customer">
                                    <img src="Images/review-3.PNG" alt="Customer photo" />
                                    <p>Esha Puri</p>
                                </div>
                            </div>

                            <div class="col-customer span-1-of-3-customer customer-box">
                                <div class="customer-text-box">
                                    I found Blood Buddy at a time that my mother was in urgent need of blood. Blood Buddy arranged the required amount in no time. It saved us a lot of hassle and worry especially in such a trying time.<br /> Thank you
                                    Blood Buddy!
                                </div>
                                <div class="customer">
                                    <img src="Images/review-2.PNG" alt="Customer photo" />
                                    <p>Amit Mangal</p>
                                </div>
                            </div>
                            <div class="col-customer span-1-of-3-customer customer-box">
                                <div class="customer-text-box">
                                    I have been a part of this organization for quite some time and each time I'm amazed by the seamless and efficient system in place.The importance of timely care especially in the recent times is known and having Blood Buddy takes a load off my mind.
                                </div>
                                <div class="customer">
                                    <img src="Images/review-1.PNG" alt="Customer photo" />
                                    <p>Dr.Kabir Khatri</p>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- slot availability -->




                    <!--FOOTER-->

                    <footer>
                        <div class="siteFooterBar">
                            <div class="content1">
                                <div class="foot">2023 © All rights reserved.</div>
                            </div>
                        </div>
                        <div class="footer-content">
                            <h3>JOIN OUR CAUSE</h3>
                            <p>
                                Donating blood or platelets can be intimidating and even scary. Time to put those hesitations and fears aside. Learn from Blood Buddy and platelet donors how simple and easy it is to roll up a sleeve and help save lives.
                            </p>
                            <div class="socials">
                                <ul class="sci">
                                    <li>
                                        <a href="https://www.facebook.com/givebloodnhs/" target="_blank"><i class="fab fa-facebook"></i
              ></a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/indiablooddonation/?hl=en" target="_blank"><i class="fab fa-instagram"></i
              ></a>
                                    </li>
                                    <li>
                                        <a href="http://nbtc.naco.gov.in/" target="_blank"><i class="fas fa-globe"></i
              ></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </footer>
                    <!--Javascript for pre-loader-->

                    <script>
                        const preloader = document.querySelector(".preloader");
                        const fadeEffect = setInterval(() => {
                            if (!preloader.style.opacity) {
                                preloader.style.opacity = 1;
                            }
                            if (preloader.style.opacity > 0) {
                                preloader.style.opacity -= 1.5;
                            } else {
                                clearInterval(fadeEffect);
                            }
                        }, 1200);
                        window.addEventListener("load", fadeEffect);
                    </script>
                    <!--js for scroll to top-->
                    <script src="up.js"></script>

                    <!--JAVASCRIPT FOR TOGGLE MENU -->
                    <script>
                        var headerl = document.getElementById("headerl");

                        function showMenu() {
                            headerl.style.right = "0";
                        }

                        function hideMenu() {
                            headerl.style.right = "-210px";
                        }
                    </script>

                    <!--js for scroll effects-->
                    <script src="scroll.js"></script>
</body>

</html>