<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='Register.css'>
    <link rel="icon" href='./Images/bbm2.png' type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<title>Start Saving Lives </title>

<body>
    <header>
        <nav>
            <div class="header-logo"><img src="./Images/bbm2.png"></div>
            <div class="header-list">
                <ul>
                    <li><a href="donate.html" target="_blank">Donate</a></li>
                    <li><a class="scroll" href="#table">Compatibility</a></li>
                    <li><a href="availability.html" target="_blank">Availability</a></li>
                    <li><a href="help.html" target="_blank">Get Help</a></li>
                    <li><a href="about.html" target="_blank">About</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="cont">
        <div class="inner">
            <div class="photo">
            </div>
            <div class="user-form">
                <h1>Start Saving Lives</h1>
                <form>
                    <i class="fas fa-user icon"></i>
                    <input type="text" placeholder="Name">
                    <br>
                    <i class="fas fa-envelope-square"></i>
                    <input type="email" placeholder="E-mail" required>
                    <br>
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Password" required id="password_data">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Confirm Password" required id="password_data">
                    <!-- <div class="safety" style="font-family: sans-serif; font-size: 20px;">
            </div> -->
                    <span><a href="donate.html"><h3 style="color: black ;font-size: 25px; font-family: 'Patrick Hand SC'; margin-left: 10px;">Already have an Account?</h3></a></span>
                    <div class="action-btn">
                        <button class="btn primary" style="font-weight: 600;">Create Account</button>
                        <button class="btn" style="font-weight: 600;">Skip</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="ex"></div>
    </div>
    <br/>
    <br/>
    <script src="./Register.js"></script>
</body>

</html>